*{
    margin: 0;
    padding: 0;   
}
body{
    background: #07418C;
    color: #F2F2F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    text-align: center;
    padding-top: 64px;
    padding-bottom: 25px;
}
.formulario{
     width: 320px;
     background: #0455BF;
     padding: 40px 50px;
     box-sizing: border-box;
     position: fixed;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}

footer{
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 470px;
}
input[type="text"]{
    width: 100%;
    background: transparent;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #F2F2F2;
}
input[type="number"]{
    width: 100%;
    background: none;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #F2F2F2;
}
input[type="submit"]{
    background: #0D0D0D;
    width: 67%;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    color: #F2F2F2;
    font-size: 17px;
    margin-left: 34px;
}
input[type="submit"]:hover{
    background: #404040;
    transform: 0.6s;
}

.buttonHours {
    background: #65BF73;
    width: 95%;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    color: #F2F2F2;
    font-size: 15px;
    margin-left: 13px;
  }

  .buttonYuanes {
    background:#F28F79;
    width: 96%;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    color: #F2F2F2;
    font-size: 15px;
    margin-left: 8px;
  }